.meme-image-container {
  position: relative;
  display: inline-block;
}

.meme-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family:
    Impact,
    Arial Black,
    sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  -webkit-text-stroke: 2px black; /* Black border */
  pointer-events: none; /* So text doesn’t block clicks */
}

.meme-text.top {
  top: 10px;
}

.meme-text.bottom {
  bottom: 10px;
}
